plugins {
    id 'com.android.application'
}

android {
    namespace 'com.zhongjing.medical'
    compileSdk 34

    defaultConfig {
        applicationId "com.zhongjing.medical"
        minSdk 24
        targetSdk 34
        versionCode 8
        versionName "2.2.4"
    }

    signingConfigs {
        release {
            // TODO: 替换为您的签名密钥配置
            storeFile file('../your-key.keystore')
            storePassword 'your-store-password'
            keyAlias 'your-key-alias'
            keyPassword 'your-key-password'
        }
    }
    buildTypes {
        release {
            signingConfig signingConfigs.release
            minifyEnabled false
            proguardFiles getDefaultProguardFile('proguard-android-optimize.txt'), 'proguard-rules.pro'
        }
    }
    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }
    lintOptions {
        checkReleaseBuilds false
        abortOnError false
    }
}

dependencies {
    implementation 'androidx.appcompat:appcompat:1.6.1'
    implementation 'com.google.android.material:material:1.11.0'
    implementation 'androidx.constraintlayout:constraintlayout:2.1.4'
    implementation 'androidx.swiperefreshlayout:swiperefreshlayout:1.1.0'
}
